*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
html a {
  text-decoration: none;
}
@media only screen and (max-width: 85em) {
  html {
    font-size: 50%;
  }
}

body {
  display: grid;
  grid-template-rows: [headerimage-start] 80vh [headerimage-end header-start] minmax(12rem, 20vh) [header-end menu-start] max-content [menu-end content-start] max-content [content-end];
  grid-template-columns: [sidebar-start] 20vw [sidebar-end display-start] 80vw [display-end];
}
@media only screen and (max-width: 62.5em) {
  body {
    grid-template-rows: [headerimage-start] 15vh [headerimage-end header-start] minmax(12rem, 15vh) [header-end hamburger-start] max-content [hamburger-end menu-start] max-content [menu-end content-start] max-content [content-end];
    grid-template-columns: [sidebar-start] 0 [sidebar-end display-start] 100% [display-end];
  }
}

#header-image {
  grid-column: sidebar-start/display-end;
  background: linear-gradient(to bottom right, rgba(242, 255, 0, 0.077), rgba(255, 0, 0, 0.071)), url(../../assets/images/saugatowersBW.png);
  background-size: 100% auto;
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: visible;
  position: sticky;
}
@media only screen and (max-width: 62.5em) {
  #header-image {
    background-position: 0 20%;
  }
}

header {
  grid-column: sidebar-start/display-end;
  font-size: 1.8rem;
  font-family: "Fira Sans", sans-serif;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.179), whitesmoke), url("../../assets/images/stylus.jpg") top left/auto 100% no-repeat;
  display: flex;
  align-items: center;
  padding: 0 5rem 0 18rem;
  justify-content: space-between;
  box-shadow: 0 1px 4px 1px rgb(215, 215, 215);
}
@media only screen and (max-width: 45em) {
  header {
    flex-direction: column;
    padding: 0%;
    justify-content: center;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.179), whitesmoke), url("../../assets/images/stylus.jpg") top left/auto 100% no-repeat;
  }
}
@media only screen and (max-width: 22em) {
  header {
    font-size: 1.2rem;
  }
}
header h1 {
  font-weight: 500;
  letter-spacing: -1px;
  font-family: "Manrope", sans-serif;
}
@media only screen and (max-width: 62.5em) {
  header h1 {
    font-size: 3.5rem;
    text-align: center;
  }
}
@media only screen and (max-width: 22em) {
  header h1 {
    font-size: 2.5rem;
  }
}
header #social {
  display: grid;
  grid-template-columns: repeat(6, min-content);
}
header #social a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 7px;
  height: 100%;
  color: black;
  transition: background-color 0.1s;
}
header #social a:before {
  padding: 5px 7px;
}
header #social a:hover {
  background-color: rgba(221, 221, 221, 0.562);
}
header #social a.fa-instagram {
  color: #e95950;
}
header #social a.fa-youtube {
  color: #d14b4b;
}
header #social a.fa-apple {
  color: black;
}
header #social a.fa-spotify {
  color: #1DB954;
}
header #social a.fa-soundcloud {
  color: orange;
}

#menu {
  grid-column: sidebar-start/display-end;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  border-bottom: solid 1px rgba(221, 221, 221, 0.562);
  box-shadow: 0 1px 4px 1px rgb(216, 216, 216) inset;
}
#menu button {
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  font-family: "Manrope", sans-serif;
  font-size: 2.3rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 3rem;
  background-color: rgba(246, 246, 246, 0.562);
  transition: background-color 0.1s;
}
#menu button i {
  display: inline-block;
  margin-right: 0.5rem;
  font-size: 3rem;
  color: #e95950;
  transition: transform 0.1s;
}
#menu button:hover,
#menu button.button-clicked {
  cursor: pointer;
  background-color: white;
  box-shadow: 0 1px 4px 1px rgb(216, 216, 216) inset;
  color: #a93838;
}
#menu button:hover i,
#menu button.button-clicked i {
  transform: translateY(-5px);
}

#sidebar {
  background-color: rgba(246, 246, 246, 0.562);
}
@media only screen and (max-width: 62.5em) {
  #sidebar {
    grid-row: menu-start/menu-end;
    grid-column: sidebar-start/display-end;
    display: none;
  }
}
#sidebar .item-link {
  font-size: 2.3rem;
  font-family: "Manrope", sans-serif;
  font-weight: bold;
  display: flex;
  padding: 3rem 0.5rem 3rem 2rem;
  border-bottom: solid 1px rgba(221, 221, 221, 0.562);
  transition: background-color 0.1s;
}
#sidebar .item-link:hover, #sidebar .item-link__clicked {
  cursor: pointer;
  background-color: white;
  color: #a93838;
}

#mobile-menu-toggle {
  font-family: "Fira Sans", sans-serif;
  text-transform: uppercase;
  display: none;
}
#mobile-menu-toggle .fa-bars {
  color: black;
}
@media only screen and (max-width: 62.5em) {
  #mobile-menu-toggle {
    display: grid;
    width: 100vw;
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    align-items: center;
    grid-column-gap: 1rem;
    border: 0;
    background-color: rgba(246, 246, 246, 0.562);
    padding: 2rem 0;
  }
}

#display {
  padding: 4rem 5rem;
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.94)), url(../../assets/images/saugatowersBW.png);
  background-size: 100vw auto;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: white;
}
@media only screen and (max-width: 62.5em) {
  #display {
    grid-row: content-start/content-end;
    grid-column: sidebar-start/display-end;
    background-position: 50% 0;
  }
}
@media only screen and (max-width: 45em) {
  #display {
    padding: 3rem;
  }
}
#display h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  font-family: "Manrope", sans-serif;
  font-weight: bold;
}
#display h2.album-title {
  font-size: 2.2rem;
  margin-top: -1rem;
  margin-bottom: 2rem;
  font-family: "Manrope", sans-serif;
  font-weight: bold;
  color: #a93838;
}
#display .metadata {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 2rem;
  border-top: solid 1px rgba(180, 180, 180, 0.562);
  display: grid;
  grid-template-columns: [heading-start] 20% [heading-end body-start] 80% [body-end];
  grid-row-gap: 1rem;
}
@media only screen and (max-width: 62.5em) {
  #display .metadata {
    grid-template-columns: [heading-start] 30% [heading-end body-start] max-content [body-end];
  }
}
#display .metadata p {
  font-size: 2rem;
  font-family: "Fira Sans", sans-serif;
}
#display .metadata .heading {
  grid-column: heading-start/heading-end;
}
#display .metadata .body {
  grid-column: body-start/body-end;
}
#display .social {
  display: flex;
  margin-top: 2rem;
}
@media only screen and (max-width: 62.5em) {
  #display .social {
    display: grid;
    grid-template-columns: repeat(5, min-content);
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
    justify-content: center;
  }
}
@media only screen and (max-width: 45em) {
  #display .social {
    justify-content: left;
  }
}
#display .social a.fa-2x {
  font-size: 4rem;
  display: flex;
  padding: 1rem;
  color: white;
  background-color: black;
  margin-right: 1rem;
  width: 8rem;
  height: 8rem;
  align-items: center;
  justify-content: center;
  transition: transform 0.1s;
}
@media only screen and (max-width: 62.5em) {
  #display .social a.fa-2x {
    margin: 0;
    width: 7rem;
    height: 7rem;
    font-size: 4rem;
  }
}
#display .social a.fa-youtube {
  background-color: #d14b4b;
}
#display .social a.fa-spotify {
  background-color: #1DB954;
}
#display .social a.fa-soundcloud {
  background-color: orange;
}
#display .social a.fa-amazon {
  background-color: orange;
}
#display .social a.fa-napster {
  background-color: #0054a8;
}
#display .social a:hover {
  cursor: pointer;
  transform: translateY(-5px);
}

footer {
  min-height: 30vh;
  grid-column: sidebar-start/display-end;
  grid-row-start: content-end;
  grid-column-gap: 2rem;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: black;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.862), rgba(97, 97, 97, 0.922), rgba(0, 0, 0, 0.862)), url(../../assets/images/saugatowersBW.png);
  background-position: 0 25%;
  padding: 4rem 2rem 5rem 2rem;
}
@media only screen and (max-width: 62.5em) {
  footer {
    min-height: auto;
    padding: 5rem;
    display: flex;
    flex-direction: column;
  }
}
footer img {
  grid-column: 1/2;
  height: 13rem;
  filter: drop-shadow(2px 3px 6px rgb(63, 63, 63));
}
@media only screen and (max-width: 62.5em) {
  footer img {
    grid-column: 1/3;
    margin-bottom: 3rem;
  }
}
footer p {
  grid-column: 2/3;
  font-size: 1.7rem;
  font-family: "Manrope", sans-serif;
  color: white;
  text-align: center;
}
@media only screen and (max-width: 62.5em) {
  footer p {
    grid-column: 1/3;
  }
}
footer #social {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(6, min-content);
}
@media only screen and (max-width: 62.5em) {
  footer #social {
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;
    flex-wrap: wrap;
    justify-content: center;
  }
}
footer #social a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  height: 100%;
  color: white;
  transition: background-color 0.1s;
  font-size: 3.5rem;
}
@media only screen and (max-width: 62.5em) {
  footer #social a {
    height: auto;
    padding: 5px;
  }
}
footer #social a:nth-child(1) {
  font-family: "Manrope", sans-serif;
  font-size: 1.7rem;
}
@media only screen and (max-width: 62.5em) {
  footer #social a:nth-child(1) {
    width: 100%;
    text-align: center;
  }
}
footer #social a:before {
  padding: 5px 7px;
}
footer #social a:hover {
  background-color: rgba(221, 221, 221, 0.562);
}
footer #social a.fa-instagram {
  color: #e95950;
}
footer #social a.fa-youtube {
  color: #d14b4b;
}
footer #social a.fa-apple {
  color: white;
}
footer #social a.fa-spotify {
  color: #1DB954;
}
footer #social a.fa-soundcloud {
  color: orange;
}
