*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}

body {
  display: grid;
  grid-template-rows: [header-start] 15vh [header-end content-start] max-content [content-end];
  grid-template-columns: [sidebar-start] 20vw [sidebar-end display-start] 80vw [display-end];
}

header {
  grid-column: sidebar-start/display-end;
  font-size: 2rem;
  background: linear-gradient(to right, white, whitesmoke);
  display: flex;
  align-items: center;
  padding-left: 5rem;
}

#sidebar {
  background-color: rgba(246, 246, 246, 0.562);
}
#sidebar .item-link {
  font-size: 2.5rem;
  display: flex;
  padding: 3rem;
  border-bottom: solid 1px rgba(221, 221, 221, 0.562);
  transition: background-color 0.1s;
}
#sidebar .item-link:hover, #sidebar .item-link__clicked {
  cursor: pointer;
  background-color: white;
}

#display {
  padding: 4rem 5rem;
}
#display h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
