@import "../common/colors.scss";
@import "../common/fonts.scss";

#display {
    padding: 2rem;
    background: url(../../assets/images/mic_black_background.jpg);
    background-size: 100vw auto;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: $dark2;

    @media only screen and (max-width: $bp-large) {
        grid-row: content-start / content-end;
        grid-column: sidebar-start / display-end;
        background-position: 50% 0;
        background-size: auto 100%;
    }

    @media only screen and (max-width: $bp-mid) {
        padding: 3rem;
    }

    iframe {
        border: 0;
    }

    h1 {
        font-size: 3rem;
        margin-bottom: 2rem;
        font-family: $manrope;
        font-weight: bold;
        color: white;
        padding: 2rem;
        background-color: $dark2;
    }

    h2.album-title {
        font-size: 2.2rem;
        margin-top: -1rem;
        margin-bottom: 2rem;
        font-family: $manrope;
        font-weight: bold;
        color: $color-highlight;
    }

    .metadata {
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding: 2rem;
        color: white;
        background-color: $dark2;
        display: grid;
        grid-template-columns: [heading-start]20%[heading-end body-start]80%[body-end];
        grid-row-gap: 1rem;

        @media only screen and (max-width: $bp-large) {
            grid-template-columns: [heading-start]30%[heading-end body-start] 1fr [body-end];
        }

        p {
            font-size: 2rem;
            font-family: $fira;
        }

        .heading {
            grid-column: heading-start / heading-end;
        }

        .body {
            grid-column: body-start / body-end;
        }
    }

    .social {
        display: flex;
        margin-top: 2rem;

        @media only screen and (max-width: $bp-large) {
            display: grid;
            grid-template-columns: repeat(5, min-content);
            grid-column-gap: 0.5rem;
            grid-row-gap: 0.5rem;
            justify-content: center;
        }

        @media only screen and (max-width: $bp-mid) {
            justify-content: center;
            grid-template-columns: repeat(6, max-content);
        }

        a.fa-2x {
            font-size: 4rem;
            display: flex;
            padding: 1rem;
            color: white;
            background-color: black;
            margin-right: 1rem;
            width: 8rem;
            height: 8rem;
            align-items: center;
            justify-content: center;
            transition: transform 0.1s;

            @media only screen and (max-width: $bp-large) {
                margin: 0;
                width: 7rem;
                height: 7rem;
                font-size: 4rem;
            }
        }

        a.fa-youtube {
            background-color: $color-youtube;
        }

        a.fa-spotify {
            background-color: $color-spotify;
        }

        a.fa-soundcloud {
            background-color: $color-soundcloud;
        }

        a.fa-amazon {
            background-color: $color-soundcloud;
        }

        a.fa-napster {
            background-color: $color-napster;
        }

        a.fa-pandora {
            background-color: $color-pandora;
        }

        a.fa-deezer {
            background-color: $color-deezer;
        }

        a.fa-apple {
            background-color: $color-apple-background;
            color: #1d1d1f;
        }

        a.fa-hypeddit {
            background-color: $color-napster;
            background-image: url(../../assets/icons/hypeddit.jpeg);
            background-size: 100% 100%;
        }

        a:hover {
            cursor: pointer;
            transform: translateY(-5px);
        }
    }
}