@import "../common/spacing-variables.scss";

body {
    background: linear-gradient(to left, rgb(23, 23, 23), rgb(59, 59, 59), black);
    color: white;

    display: grid;
    grid-template-rows: [headerimage-start] 80vh [headerimage-end header-start] minmax(12rem, 20vh) [header-end menu-start]max-content[menu-end content-start] max-content [content-end];
    grid-template-columns: [sidebar-start] 20vw [sidebar-end display-start] 80vw [display-end];

    @media only screen and (max-width: $bp-large) {
        grid-template-rows: [headerimage-start] 25vh [headerimage-end header-start] max-content [header-end hamburger-start] max-content [hamburger-end menu-start] max-content [menu-end content-start] max-content [content-end];
        grid-template-columns: [sidebar-start] 0 [sidebar-end display-start] 100% [display-end];
    }

    @media only screen and (max-width: $bp-mid) {
        grid-template-rows: [headerimage-start] 25vh [headerimage-end header-start] max-content [header-end hamburger-start] max-content [hamburger-end menu-start] max-content [menu-end content-start] max-content [content-end];
    }
}