@import "../common/colors.scss";
@import "../common/fonts.scss";

#header-image {
    grid-column: sidebar-start / display-end;
    background: url(../../assets/images/saugatowersNew.jpg);
    //linear-gradient(to bottom right, rgba(242, 255, 0, 0.077), rgba(255, 0, 0, 0.071)), 
    background-repeat: no-repeat;
    overflow: visible;

    @media only screen and (max-width: $bp-large) {
        background-position: 0 20%;
    }
}

header {
    grid-column: sidebar-start / display-end;
    font-size: 1.8rem;
    font-family: $fira;
    // background: url('../../assets/images/stylus2.jpg') top left/auto 100% no-repeat;
    // linear-gradient(to right, rgba(255, 255, 255, 0.179), whitesmoke),
    display: flex;
    align-items: center;
    padding: 0 5rem;
    justify-content: space-between;
    box-shadow: $dropshadow1;
    position: relative;

    @media only screen and (max-width: $bp-large) {
        padding: 5rem;
        padding-top: 12vw;
    }

    @media only screen and (max-width: $bp-mid) {
        flex-direction: column;
        padding: 3rem;
        padding-top: 25vw;
        justify-content: center;
        // background: url('../../assets/images/stylus2.jpg') top left/auto 100% no-repeat;
        // linear-gradient(to right, rgba(255, 255, 255, 0.8), whitesmoke),
    }

    @media only screen and (max-width: $bp-small) {
        font-size: 1.2rem;
    }

    h1 {
        font-weight: 500;
        letter-spacing: -1px;
        font-family: $manrope;

        @media only screen and (max-width: $bp-large) {
            font-size: 3.5rem;
            text-align: center;
        }

        @media only screen and (max-width: $bp-small) {
            font-size: 2.5rem;
        }
    }

    #name {
        text-align: center;

    }

    #header-avatar {
        width: 250px;
        height: auto;
        border-radius: 250px;
        position: absolute;
        left: 10rem;
        top: -210px;
        filter: drop-shadow(2px 3px 6px rgb(63, 63, 63));

        @media only screen and (max-width: $bp-large) {
            width: 20vw;
            top: -10rem;
            left: 40vw;
        }

        @media only screen and (max-width: $bp-mid) {
            width: 36vw;
            top: -10vw;
            left: 32vw;
        }
    }

    #header-links {
        display: grid;
        grid-template-rows: 70% 30%;
        align-items: center;
        grid-row-gap: 0.5rem;
    }

    #header-text-links {
        justify-self: center;

        a,
        a:visited,
        a:active {
            text-decoration: none;
            font-family: $manrope;
            color: black
        }

        a:hover {
            text-decoration: underline;
        }
    }

    #social {
        display: grid;
        grid-template-columns: repeat(6, min-content);

        a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-decoration: none;
            text-transform: uppercase;
            padding: 7px;
            height: 100%;
            color: black;
            transition: background-color 0.1s;

            @media only screen and (max-width: $bp-mid) {
                padding: 0;
            }
        }

        a:before {
            padding: 5px 7px;
        }

        a:hover {
            background-color: $gray2;
        }

        a.fa-instagram {
            color: $color-instagram;
        }

        a.fa-youtube {
            color: $color-youtube;
        }

        a.fa-apple {
            color: black;
        }

        a.fa-spotify {
            color: $color-spotify;
        }

        a.fa-soundcloud {
            color: orange;
        }

        a.fa-whatsapp {
            color: #2bb740;
        }
    }
}