@import "../common/colors.scss";

header {
    grid-column: sidebar-start / display-end;

    font-size: 2rem;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.526), whitesmoke), url('../../assets/images/avatars-Lo9oruaAMvM5QsWL-0uJ23w-t500x500.jpg') top left/auto 100% no-repeat;
    display: flex;
    align-items: center;
    padding: 0 5rem 0 15rem;
    justify-content: space-between;

    #social {
        display: grid;
        grid-template-columns: repeat(6, min-content);

        a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-decoration: none;
            text-transform: uppercase;
            padding: 7px;
            height: 100%;
            color: black;
            transition: background-color 0.1s;
        }

        a:before {
            padding: 5px 7px;
        }

        a:hover {
            background-color: $gray2;
        }

        a.fa-instagram {
            color: $color-instagram;
        }

        a.fa-youtube {
            color: $color-youtube;
        }

        a.fa-apple {
            color: black;
        }

        a.fa-spotify {
            color: $color-spotify;
        }

        a.fa-soundcloud {
            color: orange;
        }
    }
}