@import "../common/colors.scss";
@import "../common/fonts.scss";

#menu {
    grid-column: sidebar-start / display-end;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    border-bottom: solid 1px $gray5;
    border-top: solid 1px $gray5;
    box-shadow: $upshadow1;

    button {
        border: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 33.33vw;
        font-family: $manrope;
        font-size: 2.3rem;
        font-weight: bold;
        text-transform: uppercase;
        padding: 3rem;
        background-color: $dark2;
        color: white;
        transition: background-color 0.1s;

        i {
            display: inline-block;
            margin-right: 0.5rem;
            font-size: 3rem;
            color: $color-highlight;
            transition: transform 0.1s;

            @media only screen and (max-width: $bp-mid) {
                margin-bottom: 1.5rem;
            }
        }

        @media only screen and (max-width: $bp-mid) {
            flex-direction: column;
            justify-content: space-between;
        }
    }

    button:hover,
    button.button-clicked {
        cursor: pointer;
        background-color: white;
        box-shadow: $upshadow1;
        color: $color-highlight;

        i {
            transform: translateY(-5px);
        }
    }
}