@import "../common/colors";
@import "../common/fonts.scss";

#sidebar {
    background-color: $dark2;

    @media only screen and (max-width: $bp-large) {
        grid-row: menu-start / menu-end;
        grid-column: sidebar-start / display-end;
        display: none;
    }

    .item-link {
        font-size: 2.3rem;
        font-family: $manrope;
        font-weight: bold;
        display: flex;
        padding: 3rem 0.5rem 3rem 2rem;
        border-bottom: solid 1px $gray2;
        transition: background-color 0.1s;

        &:hover,
        &__clicked {
            cursor: pointer;
            background-color: white;
            color: $color-highlight;
        }
    }
}

#mobile-menu-toggle {
    font-family: $fira;
    text-transform: uppercase;
    display: none;

    .fa-bars {
        color: black;
    }

    @media only screen and (max-width: $bp-large) {
        display: grid;
        width: 100vw;
        grid-template-columns: repeat(2, max-content);
        justify-content: center;
        align-items: center;
        grid-column-gap: 1rem;
        border: 0;
        background-color: $gray1;
        padding: 2rem 0;
    }
}